_build/
tags
*.swp

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.vim

.direnv
.cache

*.log*

.turbo
node_modules
dist
dist-ssr
build
*.local
.eslintcache
result
coverage
test-results
tsconfig.tsbuildinfo
