# https://pnpm.io/npmrc
update-notifier = false
resolve-peers-from-workspace-root = true
strict-peer-dependencies = true
engine-strict=true
node-linker=hoisted
prefer-symlinked-executables=false
save-prefix=''
use-lockfile-v6=true
